body.player-12 {
    padding-top: 79px !important;
}
#nprogress .spinner {
    height: 73px;
    width: 73px;
    line-height: 73px;
}
#nprogress .spinner-icon {
    margin: 27px auto 0 auto;
}
.rf-player.player-12 {
    height: 73px;
}
.rf-player.player-12,
.rf-player .mobile-apps-store {
    background: #e3e3e5;
}
.rf-player.player-12 .rf-padding-control {
    padding-left: 257px;
}
.rf-player.player-12 .rf-playing-now {
    color: #525d71;
    font-size: 12px;
    height: 73px;
    line-height: 73px;
}
.rf-player.player-12 .rf-twitter {
    left: 227px;
    top: 24px;
}
.rf-player.player-12 .rf-facebook {
    left: 201px;
    top: 24px;
}
.rf-player.player-12 .rf-player-container {
    width: 198px;
    height: 73px;
}
.rf-player.player-12 .rf-player-container .rf-player-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 198x;
    z-index: 0;
    background-image: url("../images/player/12/background.png");
}

.rf-player.player-12 .rf-player-container .rf-player-play-pause {
	position: absolute;
	top: 0;
	left: 0;
	width: 116px;
	cursor: pointer;
	visibility: hidden;
	z-index: 0;
}
.rf-player.player-12 .rf-player-container .rf-player-play { background-image: url("../images/player/12/playButton.png"); }
.rf-player.player-12 .rf-player-container .rf-player-play:hover { background-image: url("../images/player/12/playButtonOver.png"); }
.rf-player.player-12 .rf-player-container .rf-player-pause { background-image: url("../images/player/12/pauseButton.png"); }
.rf-player.player-12 .rf-player-container .rf-player-pause:hover { background-image: url("../images/player/12/pauseButtonOver.png"); }
.rf-player.player-12 .rf-player-container .rf-player-play-pause.active { visibility: visible; z-index: 10; }

.rf-player.player-12 .rf-player-container .rf-player-volume {
	position: absolute;
	top: 0;
	left: 122px;
}
.rf-player.player-12 .rf-player-container .rf-player-volume-background {
	width: 72px;
	z-index: 1;
	background-image: url("../images/player/12/volumeSliderRail.png");
}
.rf-player.player-12 .rf-player-container .rf-player-volume-meter {
	z-index: 2;
	background-image: url("../images/player/12/volumeSliderProgress.png");
}
.rf-player.player-12 .rf-player-container .rf-player-volume-area {
	width: 72px;
	z-index: 3;
	cursor: pointer;
}
