.star-ratings {
	width: 120px;
}
.star-ratings.top-left,
.star-ratings.top-right {
	margin-top: 3px;
}
.star-ratings.lft {
	float: left;
	margin-right: 10px;
}
.star-ratings.rgt{
	float: right;
	margin-left: 10px;
}
.star-ratings .sr-stars {
	height: 24px;
	position: relative;
}
.star-ratings .sr-star {
	background-position: 0px 0px;
}
.star-ratings .sr-star.gray {
	background-image: url(../images/rating/gray.png);
}
.star-ratings .sr-star.yellow {
	background-image: url(../images/rating/yellow.png);
}
.star-ratings .sr-star.orange {
	background-image: url(../images/rating/orange.png);
}
.star-ratings .sr-stars .sr-fuel {
	height: 24px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
}
.star-ratings .sr-stars a {
	width: 24px;
	height: 24px;
	float: left;
	position: relative;
	z-index: 1;
	text-decoration: none;
	border: 0;
}
.star-ratings .sr-stars a:focus {
	text-decoration: none;
	border: 0;
	outline: none;
}
.star-ratings .sr-legend {
	font-size: 12px;
	color: #999;
	text-align: center;
	line-height: 18px;
	padding: 3px;
	font-family: Arial, Helvetica, sans-serif;
}
.star-ratings .sr-legend .sr-title {
	display: none;
}

.star-ratings .sr-stars,
.star-ratings .sr-stars .sr-fuel,
.star-ratings .sr-stars a {
	background-color: transparent !important;
}
