<center style="padding-top:10px; padding-bottom: 10px;">

    <!-- optAd360 -->
    <script async src="//get.optad360.io/sf/4d3df770-f929-11e8-b59e-06048607e8f8/plugin.min.js"></script>

    <!-- Adsense
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-6041601556788047"
         data-ad-slot="2355030574"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>-->
</center>
