{% extends 'mail/base.html' %}
{% block title %}Confirme se e-mail - Músicas para Missa{% endblock %}
{% block content %}

<h1 style="text-align: center; font-size: 50px;">Espere Um Minuto ...</h1>
<h2 style="text-align: center;">Você precisa confirmar o seu e-mail.</h2>
<h3 style="text-align: center;">Passo 1</h3>
<p style="text-align: center;">Acesse a sua caixa de entrada. Se preferir pode acessar algum dos links abaixo.</p>

<h4 style="text-align: center;"><a href="https://gmail.com" target="_blank">Acessar Gmail</a></h4>
<h4 style="text-align: center;"><a href="https://login.live.com/" target="_blank">Acessar Hotmail</a></h4>
<h4 style="text-align: center;"><a href="https://login.yahoo.com/" target="_blank">Acessar Yahoo</a></h4>
<h3 style="text-align: center;">Passo 2</h3>
<p style="text-align: center;">Procure pela mensagem com o nome: <strong>ATENÇÃO! Clique no LINK para confirmar o seu e-mail</strong></p>
<p style="text-align: center;">Obs: O e-mail de confirmação pode demorar alguns minutos para chegar a sua caixa de entrada. <strong>Caso demore muito para o e-mail chegar, verifique a sua caixa de SPAM!</strong></p>

<h3 style="text-align: center;">Passo 3</h3>
<p style="text-align: center;">Clique no <strong>link</strong> dentro dessa mensagem.</p>

<h2 style="text-align: center;">IMPORTANTE!</h2>
<p style="text-align: center;">Adicione o e-mail: <span style="text-decoration: underline;">sugestoes@musicasparamissa.com.br</span> aos seus contatos para evitar que os e-mails caiam na caixa de spam. <strong>Se nosso e-mail de confirmação caiu na sua caixa de spam, por favor, marque-o como NÃO É SPAM</strong>!</p>

<p style="text-align: center;"><a href="https://www.musicasparamissa.com.br/">Voltar para o <strong>Musicas para Missa</strong></p>

{% endblock %}
