{% extends 'mail/base.html' %}
{% block title %}Confirme se e-mail - Músicas para Missa{% endblock %}
{% block content %}

<center><img class="aligncenter" src="{{ STATICPATH }}/images/logo/logoMpM-300x223.png" alt="" /></center>
<h1 class="entry-title" style="font-size: 50px; text-align: center;">VOCÊ NÃO RECEBERÁ MAIS NOSSOS E-MAILS!</h1>
<p style="text-align: center;">Pode ficar tranquilo que não te enviaremos mais e-mails.</p>

<h2 style="text-align: center;">Nos desculpe ...</h2>
<p style="text-align: center;">Não sabemos o que te chateou, mas respeitamos seu desejo de não receber mais nossos e-mails. Pedimos desculpas se fomos inconvenientes, não era nossa intenção.</p>

<p style="text-align: center;">Foi bom o contato que tivemos. Muito Obrigado!</p>

<h3 style="text-align: center; padding-top: 40px;">Te enviamos um e-mail de despedida.</h3>
<h3 style="text-align: center; padding-top: 40px;">=(</h3>
  &nbsp;
<p style="text-align: center;">PS: Se você se desinscreveu sem querer, você pode <a href="https://www.musicasparamissa.com.br/">Voltar para o <strong>Musicas para Missa</strong></a> e se inscrever novamente!</p>
<p style="text-align: center;">Ficaremos muito felizes em te receber de volta!</p>


<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ STATICPATH }}/js/bootstrap.min.js"></script>
<script src="{{ STATICPATH }}/js/bootswatch.js"></script>

{% endblock %}
