<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Página não encontrada - Músicas para Missa</title>
    <link rel="icon" href="{{ STATICPATH }}/images/favicon.ico">
  <!--[if IE 8]><html class="ie8"><![endif]-->
  <!-- Bootstrap -->
  <link href="{{ STATICPATH }}/css/bootstrap.min.css" rel="stylesheet">
  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,800,300' rel='stylesheet' type='text/css'>
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- Theme -->
  <link rel="stylesheet" type="text/css" href="{{ STATICPATH }}/assets/css/coming-soon-404.css">
  <link rel="stylesheet" type="text/css" href="{{ STATICPATH }}/assets/css/theme.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>


  <div class="wrapper-table">
    <div class="wrapper-table-cell">
      <div id="content">
        <h3 class="title-404 text-theme-lg">Página não encontrada</h3>
        <p class="text-theme-lg subtitle-404">Desculpe, mas infelizmente a página que você procura
          <br>não pode ser encontrada!</p>
        <a href="/" class="btn btn-sm btn-primary btn-rounded text-theme-lg"><i class="fa fa-chevron-left"></i>Voltar para a página inicial do site.</a>
      </div>
    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{{ STATICPATH }}/assets/js/jquery.backstretch.js"></script>
  <script src="{{ STATICPATH }}/assets/js/page/page.404.js"></script>
</body>

</html>
