<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>{% block title %}Músicas para Missa{% endblock %}</title>
	{% include 'header.html' %}

	{% block image-tag %}
	<meta property="og:image" content="{{ STATICPATH }}/images/MpMFace.png" />
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="843">
	<meta property="og:image:height" content="504">
	{% endblock %}
	{% block url-tag %}<meta property="og:url" content="https://musicasparamissa.com.br/" />{% endblock %}
	{% block title-tag %}<meta property="og:title" content="Músicas para Missa" />{% endblock %}
	{% block description-tag %}<meta property="og:description" content="Sugestões de músicas para missas." />{% endblock %}
</head>
<body class="body-nav-fixed-menu-top">
  <div class="wrapper-body">
		{% include 'navbar.html' %}
    {% block content %}{% endblock %}

			          </div>
			        </div>
			      </div>
			    </div>
					{% block sub %}{% endblock %}


					{% include 'banners/banner-adsense-bottom.html' %}


		    </div>

			  <!-- GRID POSTS END -->
			  <!--===============================================================-->
				{% include 'sidebar.html' %}
			</div>
		</div>
	</div>

	{% include 'footer.html' %}
	{% block js-import %}{% endblock %}

</body>
