<!-- Bootstrap -->
<!--<link rel="stylesheet" type="text/css" href="{{ STATICPATH }}/css/bootstrap.min.css" />-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,800,300' rel='stylesheet' type='text/css'>
<link href="https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
<!-- Plugins -->
<link rel="stylesheet" type="text/css" href="{{ STATICPATH }}/assets/css/magnific-popup.min.css">
<link rel="stylesheet" type="text/css" href="{{ STATICPATH }}/assets/css/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="{{ STATICPATH }}/assets/css/owl.theme.min.css">
<!-- Theme -->
<link rel="stylesheet" type="text/css" href="{{ STATICPATH }}/assets/css/carousel-animate.min.css">
<link rel="stylesheet" type="text/css" href="{{ STATICPATH }}/css/theme.min.css">

<link rel="stylesheet" type="text/css" href="{{ STATICPATH }}/css/bootstrap-datepicker3.min.css" />

<link rel="stylesheet" type="text/css" href="{{ STATICPATH }}/css/star-ratings.min.css" />
<!--<link rel="stylesheet" type="text/css" href="{{ STATICPATH }}/css/player.min.css" />-->
<!--<link rel="stylesheet" type="text/css" href="{{ STATICPATH }}/css/player12.min.css" />-->
<link rel="stylesheet" type="text/css" href="{{ STATICPATH }}/css/style.v2.min.css" />


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.js"></script>
<![endif]-->
