
<!--FOOTER E-MAIL-->
<div class="col-sm-3 col-xs-12">
  <h3 class="text-theme title-sm hr-left">Telegram!</h3>
    </br />
    <p>Quer ficar mais próximos de nós? <strong>Participe do nosso canal no Telegram!</strong></p>
    <p>Um lugar onde nós dividimos aprendizados, ideias, dicas, reflexões sobre a liturgia e as músicas apropriadas para as missas.</p>
    <div style="text-align: center;">
      <button onclick="window.location.href='https://musicasparamissa.com.br/telegram?src=mpm'" 
              class="btn btn-primary input-lg btn-z-index">
                <i class="fa fa-paper-plane"></i>Entrar no canal!
      </button>
    </div>
</div>
