
    <!-- HEADING -->
    <!--===============================================================-->
    <div class="section-heading-page">
      <div class="container">
        <div class="row"><!--
          <div class="col-sm-4 col-md-3" style="padding-top: 8px;">
            <h1 class="heading-page text-center-xs">Músicas por e-mail?</h1>
          </div>
          <form action="https://mautic.musicasparamissa.com.br/form/submit?formId=1" method="POST" id="sugestoes-subscription-header">
            <input type="hidden" name="list" value="JbGmTEEDc0JKcDmFiosVAQ"/>
            <input type="hidden" name="mauticform[formId]" id="mauticform_sugestoessignin_id" value="1"/>
            <input type="hidden" name="mauticform[return]" id="mauticform_sugestoessignin_return" value=""/>
            <input type="hidden" name="mauticform[formName]" id="mauticform_sugestoessignin_name" value="sugestoessignin"/>

            <div class="col-sm-4 col-md-3">
              <input type="text" class="form-control input-lg" name="mauticform[primeiro_nome]" required="required" id="name" placeholder="Primeiro Nome">
            </div>
            <div class="col-sm-4 col-md-3">
              <input type="email" class="form-control input-lg" name="mauticform[email]" required="required" id="email" placeholder="E-mail">
            </div>
            <div class="col-sm-4 col-md-3">
              <button type="submit" class="btn btn-primary input-lg btn-z-index" form="sugestoes-subscription-header" value="Submit"><i class="fa fa-paper-plane"></i>Quero receber as sugestões</button>
            </div>

          </form>
          -->
          <!--
          <div class="col-sm-8 col-md-8" style="padding-top: 2rem; text-align:center;">
            <h1 class="heading-page">Participe do Workshop GRATUITO de Música Litúrgica!</h1>
          </div>
          <div class="col-sm-4 col-md-4" style="padding-top: 1rem; text-align:center;">
            <button onclick="window.location.href='https://amo.musicasparamissa.com.br/inscricao-workshop-musica-liturgica?src=mpm'" 
            class="btn btn-primary input-lg btn-z-index">
              <i class="fa fa-paper-plane"></i>Quero me cadastrar!
            </button>
          </div>
          -->
          <div class="col-sm-8 col-md-8" style="padding-top: 2rem; text-align:center;">
            <h1 class="heading-page">Participe do nosso canal do Telegram!</h1>
          </div>
          <div class="col-sm-4 col-md-4" style="padding-top: 1rem; text-align:center;">
            <button onclick="window.location.href='https://musicasparamissa.com.br/telegram?src=mpm'"
                    class="btn btn-primary input-lg btn-z-index">
              <i class="fa fa-paper-plane"></i>Entrar no canal!
            </button>
          </div>
        </div>
      </div>
    </div>
