<!-- FACEBOOK -->
<div class="row-heading row-heading-mt-40">
    <div class="col-sm-12">
      <h3 class="title-sm text-uppercase hr-left text-theme">Estamos no facebook</h3>
    </div>
</div>

<center>
<iframe src="https://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FMusicasParaMissa&amp;width=300&amp;colorscheme=light&amp;border_color=%23efefef&amp;show_faces=true&amp;stream=true&amp;header=false&amp;height=500" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height: 500px; " allowTransparency="true"></iframe>
</center>
