<link rel="publisher" href="https://plus.google.com/u/0/+MusicasparamissaBr/"/>

<meta charset="utf-8">
<meta name="description" content="Sugestão de músicas para missas de todos os dias."/>
<meta property="og:locale" content="pt_BR" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Musicas para Missa" />
<meta property="fb:app_id" content="295456563950296" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{{ STATICPATH }}/images/favicon.ico">
<!--[if IE 8]><html class="ie8"><![endif]-->

{% include 'css-loader.html' %}
