<link rel="publisher" href="https://plus.google.com/u/0/+MusicasparamissaBr/"/>

<meta charset="utf-8">
<meta name="description" content="Sugestão de músicas para missas de todos os dias."/>
<meta property="og:locale" content="pt_BR" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Musicas para Missa" />
<meta property="fb:app_id" content="295456563950296" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{{ STATICPATH }}/images/favicon.ico">
<!--[if IE 8]><html class="ie8"><![endif]-->

{% include 'css-loader.html' %}

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '455560638480815');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=455560638480815&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
