<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ STATICPATH }}/assets/js/jquery-1.12.4.min.js"></script>
<script async src="{{ STATICPATH }}/js/bootstrap.min.js"></script>

<script async src="{{ STATICPATH }}/js/search.min.js"></script>
<script async src="{{ STATICPATH }}/assets/js/page/carousel-preload.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script async src="{{ STATICPATH }}/assets/js/page/page.navbar-fixed-shrinked.min.js"></script>
<script async src="{{ STATICPATH }}/assets/js/owl.carousel.min.js"></script>
<script async src="{{ STATICPATH }}/assets/js/jquery.waypoints.js"></script>
<script async src="{{ STATICPATH }}/assets/js/jquery.magnific-popup.min.js"></script>
<script async src="{{ STATICPATH }}/assets/js/jquery.countTo.min.js"></script>
<script async src="{{ STATICPATH }}/assets/js/page/theme.min.js"></script>
<script async src="{{ STATICPATH }}/assets/js/page/page.home.js"></script>
<!-- Calendário -->
<script src="{{ STATICPATH }}/js/bootstrap-datepicker.min.js"></script>
<script src="{{ STATICPATH }}/locale/bootstrap-datepicker.pt-BR.js"></script>
<script src="{{ STATICPATH }}/js/calendar.min_1.3.js"></script>
<!-- Stars ratings -->
<script src="{{ STATICPATH }}/js/star_ratings_complement.min.js"></script>
<script src="{{ STATICPATH }}/js/star_ratings.min.js"></script>
