<!--#####1#####<div class="menu-top menu-top-inverse" style="background-color: #6e747b;">-->
<div class="menu-top menu-top-inverse" style="background-color: #e3e3e5;">
  <div class="container">
    <div class="row">

<script>
var UPLOAD_BASE_URL = 'https://s3-sa-east-1.amazonaws.com/radiofacil-upload/2907/';
var BASE_ASSETS = 'https://s3-sa-east-1.amazonaws.com/radiofacil-assets/compressed/';
var ASSETS_CONSTANT = 'c030c65039ddff7631683acfdaced3b8';
var IS_MOBILE = false;
var STREAMING_ADDRESS = 'servidor40.brlogic.com';
var STREAMING_PORT = '8116';
var STREAMING_PROVIDER = '1';
var MAIN_STREAM_URL = 'http://servidor40.brlogic.com:8116/live';
var STREAMING_REFRESH_DATA_URL = 'https://d36nr0u3xmc4mm.cloudfront.net/index.php/api/streaming/status/8116/23702d8095316fa6570e74017e50186e/servidor40.brlogic.com';
var PLAYER_SHOW_MUSIC_NAME = false;
var NEXT_SCHEDULES = {"65915":{"id":"65915","schedule":"Ouvindo as melhores m\u00fasicas cat\u00f3licas com Site \"M\u00fasicas para Missa\" das 00:00 \u00e0s 23:59","start":22759,"end":109099},"65914":{"id":65914,"schedule":"Ouvindo as melhores m\u00fasicas cat\u00f3licas com Site \"M\u00fasicas para Missa\" das 00:00 \u00e0s 23:59","start":0,"end":22699}};
var PLAYER_ID = '12';
var PLAYER_AUTOSTART = false;
var USE_PLAYER_PROXY = false;
var USE_PLAYER = false;
var STREAMING_TYPE = false;
</script>

      <div class="rf-player player-12">
          <div class="rf-width-control" style="width: 1100px">
              <div class="rf-padding-control">
                  <div class="rf-player-container"> <div style="margin-top: -1000px;">
                          <div id="muses_container_"> </div>
                      </div>
                      <div id="rf-player-container">
                          <div class="rf-player-background"></div>
                          <div id="rf-player-play" class="rf-player-play-pause rf-player-play active"></div>
                          <div id="rf-player-pause" class="rf-player-play-pause rf-player-pause"></div>
                          <div class="rf-player-volume rf-player-volume-background"></div>
                          <div id="rf-player-volume-meter" class="rf-player-volume rf-player-volume-meter"></div>
                          <div id="rf-player-volume-area" class="rf-player-volume rf-player-volume-area"></div>
                          <audio id="rf-player" style="width: 0; height: 0;">
                              <source></source>
                          </audio>
                      </div></div>
                      <a class="rf-facebook" title="Compartilhar no facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fmusicasparamissa.com.br" target="_blank"><img src="https://s3-sa-east-1.amazonaws.com/radiofacil-assets/compressed/img/website/social/facebook.png?_t=7e6b12de09f7cec18c5ffbdf1adce1a9" /></a>
                      <a class="rf-twitter" title="Compartilhar no twitter" href="https://twitter.com/intent/tweet?source=tweetbutton&text=Estou+ouvindo+a+r%C3%A1dio+&url=http://musicasparamissa.com.br" target="_blank"><img src="https://s3-sa-east-1.amazonaws.com/radiofacil-assets/compressed/img/website/social/twitter.png?_t=7e6b12de09f7cec18c5ffbdf1adce1a9" /></a>
                  <div class="rf-playing-now"></div></div>
          </div>
      </div>

    </div>
  </div>
</div>
