<!DOCTYPE html>
<html lang="pt-BR">
<head>

	<title>Músicas para Missa - O site do músico servo do Senhor!</title>

	{% include 'header.html' %}

</head>

<body class="body-nav-fixed-menu-top">
  <div class="wrapper-body">

		{% include 'navbar.html' %}

		<div class="container" style="padding-top:50px">
  			<div class="row">
				<!-- GRID CONTENT -->
				<!--===============================================================-->
				<div class="col-sm-12 grid-posts">
					<!-- POST ITEM 1 -->
					<div class="row">
						<div class="col-sm-12">
							<div class="wrapper-post">
								<div class="wrapper-post-text">
									<gcse:searchresults-only></gcse:searchresults-only>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>

	</div>

	{% include 'footer.html' %}

</body>
