
<li class="li-search">
  <div style="width:0px;overflow:hidden;height:0px;"> <!-- if you use display:none here, it doesn't work-->
      <gcse:searchbox-only resultsUrl="/search/"></gcse:searchbox-only>
  </div>
  <form id="searchbox_015019343761254316434:icocp0vwhke" class="nav-search" action="/search/">
      <label for="focus-input"><i class="fa fa-search"></i></label>
      <input value="015019343761254316434:icocp0vwhke" name="cx" type="hidden"/>
      <input value="FORID:11" name="cof" type="hidden"/>
      <input id="focus-input" class="container" name="q" size="75" type="search" placeholder="Digite o que procura e tecle ENTER!"/>
  </form>

  <!--<form class="nav-search" action="/search">
    <label for="focus-input"><i class="fa fa-search"></i></label>
    <input id="focus-input" class="container" type="search" name="q" placeholder="Digite o que procura e tecle ENTER!">
    <input type="hiden" value="015019343761254316434:icocp0vwhke">
  </form>-->
</li>
